# 로컬 테스트
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1

# 태블릿 + 같은 와이파이 테스트 예시
# NEXT_PUBLIC_API_BASE_URL=http://192.168.0.10:8000/api/v1

# Vercel 프론트에서 내 PC 백엔드를 볼 때도
# 위처럼 내 PC IP 주소를 써야 합니다.
NEXT_PUBLIC_APP_NAME=Reading ELLA
